@media screen and (min-width: 576px) and (max-width : 992px){
    .nav-items {
        flex-wrap: wrap;
    }
    .logo {
        order: 1;
    }
    .nav-button {
        order: 2;
    }
    .break {
        order: 3;
        flex-basis: 100%;
        height: 0;
    }
    .nav-links {
        text-align: center;
        flex-grow: 2;
        order: 4;
    }
    .hero {
        padding: 6.25rem 2.5rem;
    }
    .hero-circle {
        top: 3rem;
        height: 18rem;
        padding-bottom: 1.5rem;
    }
    .hero-microphone {
        height: 7rem;
        top: 7.6rem;
        left: 9rem;
    }
    .badge {
        top: 4rem;
        left: 14.5rem;
    }

    .why-choose-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        grid-template-areas:
            "pa pa"
            "gc mf"
            "rr rr"
            "ei ei";
    }
}