@media screen and (min-width: 576px) and (max-width : 992px){
    .nav-items {
        flex-wrap: wrap;
    }
    .logo {
        order: 1;
    }
    .nav-button {
        order: 2;
    }
    .break {
        order: 3;
        flex-basis: 100%;
        height: 0;
    }
    .nav-links {
        text-align: center;
        flex-grow: 2;
        order: 4;
    }
    .hero {
        padding: 6.25rem 2.5rem;
    }
}