@media screen and (max-width:576px)  {
    .section {
        width: 93%;
        max-width: 536px;
    }
    .nav-items {
        height: 5.75rem;
    }
    .logo {
        width: 8.5rem;
        height: 1.25rem;
    }
    .nav-links {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .collapse-btn {
        display: block;
    }
    .collapse-btn a {
        height: 1.5rem;
    }
    .hero {
        padding: 2.5rem;
    }
    .hero-text h2 {
        font-size: 2.5rem;
    }
    .hero-circle {
        top: 4.5rem;
        height: 12.5rem;
        padding-bottom: 1.5rem;
    }
    .hero-microphone {
        height: 5rem;
        top: 7.6rem;
        left: 9.5rem;
    }
    .hero-buttons {
        margin-top: 1.5rem;
    }
    .badge {
        top: 4.5rem;
        left: 14rem;
    }
    .about {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .about-text {
        padding-bottom: 3.5rem;
    }
    .achievements {
        grid-template-columns: repeat(2, 1fr);
    }

    .why-choose {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .why-choose-group {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        grid-template-areas:
            "pa" "mf"
            "gc"
            "ei" "rr";
    }

    .video-cards {
        grid-template-columns: 1fr;
    }

    .host-card {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .img-container-host{
        margin: 0 auto;
    }
    .host-info {
        text-align: center;
    }
    .social-links {
        justify-content: center;
        width: 100%;
    }

    .footer-links {
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: 0;
    }
    .footer-link img {
        width: 1.5rem;
        height: 1.5rem;
    }
    footer  {
        background-image: url("../assets/footer-bg.png"), linear-gradient(#20113a);
        background-size: contain;
        padding: .01rem 0;
    }
    .footer-logo {
        width: 12rem;
    }
    footer .container {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    #copyright {
        padding-top: 1rem;
    }

    .position-reverse {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "two" "one";
    }
    .pos-1 {
        grid-area: one;
    }
    .pos-2 {
        grid-area: two;
    }

    .break {
        width: 100%;
        height: 1px;
        color: white;
        background-color: #3a186c;
    }
    .achievements {
        margin-top: 2.5rem;
    }
    .video-cards {
        gap: 1rem;
    }
    .featured {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }

}