@media screen and (max-width:576px)  {
    .section {
        width: 93%;
        max-width: 536px;
    }
    .nav-items {
        height: 5.75rem;
    }
    .logo {
        width: 8.5rem;
        height: 1.25rem;
    }
    .nav-links {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .collapse-btn {
        display: block;
    }
    .collapse-btn a {
        height: 1.5rem;
    }
    .hero {
        padding: 2.5rem;
    }
    .hero-circle {
        top: 4.5rem;
        height: 12.5rem;
        padding-bottom: 1.5rem;
    }
    .hero-microphone {
        height: 5rem;
        top: 7.6rem;
        left: 9.5rem;
    }
    .badge {
        top: 4.5rem;
        left: 14rem;
    }

    .why-choose {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .why-choose-group {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        grid-template-areas:
            "pa" "mf"
            "gc"
            "ei" "rr";
    }
}