@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}

/*Common Classes*/
.bg-1 {
    background-color: #1A0B2E;
}
.bg-2 {
    background-color: #230E3D;
}
.bg-3 {
    background-color: rgba(53, 17, 101, .4) ;
}
.color-white{
    color: #FFFF;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.fw-medium {
    font-weight: 500;
}
.fw-semibold {
    font-weight: 600;
}
.fw-bold {
    font-weight: 700;
}
.fw-extrabold {
    font-weight: 800;
}
.fs-48 {
    font-size: 3rem;
}
.fs-24 {
    font-size: 1.5rem;
}
.fs-80 {
    font-size: 5rem;
}
.text-center {
    text-align: center;
}
.section {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
.btn {
    font-size: 1rem;
    padding: .8rem 1rem;
    border-radius: 10000px;
    font-weight: 600;
    color: #ffff;
    background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
}

/*Dedicated Classes*/
.nav-items {
    height: 5.75rem;
}
.logo {
    width: 13.5rem;
    height: 2rem;
}
.logo img {
    max-width: 100%;
}
.nav-links ul {
    list-style: none;
}
.nav-links ul li {
    display: inline-block;
}
.nav-links ul li a {
    text-decoration: none;
    margin-left: 2rem;
}
.collapse-btn {
    display: none;
}

.hero {
    text-align: center;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    padding: 6.25rem;
}
.hero-content {

}
.images-group {
    margin: 0 auto;
    width: 350px;
    position: relative;
    top: -35px;
}
.hero-circle {
    position: relative;
}
.hero-microphone {
    position: absolute;
    left: 120px;
    top: 80px;
}
.badge {
    background-color: #00FF88;
    font-weight: 600;
    width: 4.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 1000px;
    position: absolute;
    left: 256px;
    top: 16px;
}
.badge p {
    margin: auto;
    padding: .6rem 1rem;

}
.hero-buttons {
    margin-top: 1.5rem;
}
.subscribe-btn {
    background-image: none;
    color: #00FF88 !important;
    background-color: transparent;
    border: .1rem solid #00FF88 !important;
    margin-left: .5rem;
}
.about {
    align-items: center;
    padding-top: 3.2rem;
    padding-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
}
.about-text {
    max-width: 42.5rem;
    /*margin: 0 16rem 5rem 16rem;*/
    border: 1px;
}
.about-text h3 {
    padding-bottom: 1rem;
}
.about-text p {
    line-height: 1.25rem;
}
.break {
    height: 1px;
    width: auto;
    color: white;
    background-color: #3a186c;
}
.achievements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
    gap: 5rem;
}
.achievement h5 {
    font-size: 3rem;
    color: #00FF88;
    padding-bottom: 1rem;
    font-weight: 800;
}
.achievements p {
    text-transform: uppercase;
}
.why-choose {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.why-choose h3 {
    padding-bottom: 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    border-radius: 2.5rem;
    text-align: left;
}
.img-container {
    height: 3.75rem;

}
.card img {
    width: auto;
    height: auto;
}
.card h4 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card p {
    line-height: 1.5rem;
}
.premium-audio {
    grid-area: pa;
}
.mobile-friendly {
    grid-area: mf;
}
.global-community {
    grid-area: gc;
}
.exclusive-interviews {
    grid-area: ei;
}
.rich-resources {
    grid-area: rr;
}

.why-choose-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: auto 1fr auto;*/
    gap: 2rem;
    grid-template-areas:
            "pa mf mf"
            "pa gc gc"
            "ei ei rr";
}
.featured {
    padding: 7.5rem 0;
}
.video-cards {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.9rem;
}
.video-card {
    background-color: #250D44;
    border-radius: 1.5rem;
    overflow: hidden;
    text-align: left;
}
.video-card p {
    padding: .8rem 0;
}
.video-description {
    padding: 1.5rem;
}
.video-length p {
    color: #00FF88;
}
.meet-host h3{
    margin-bottom: 2.5rem;
}
.host-card {
    display: grid;
    grid-template-columns: 12.5rem auto;
    gap: 1.5rem;
    background-color: #250D44;
    border-radius: 2.5rem;
    padding: 2.5rem;
}
.img-container-host {
    height: 12.5rem;
    width: 12.5rem;
}
.img-container-host img {
    height: auto;
    width: auto;
}
.host-info {
    text-align: left;
}
.host-info h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.social-links {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}
.icon-border {
    width: 2rem;
    height: 2rem;
    border: 2px solid #533C72;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.icon-border a {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.icon-border a img {
    width: 1.25rem;
    height: 1.25rem;
}