@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}

/*Common Classes*/
.bg-1 {
    background-color: #1A0B2E;
}
.bg-2 {
    background-color: #230E3D;
}
.color-white{
    color: #FFFF;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.fw-medium {
    font-weight: 500;
}
.fw-semibold {
    font-weight: 600;
}

.section {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}
.btn {
    padding: .8rem 1rem;
    border-radius: 10000px;
    font-weight: 600;
    color: #ffff;
    background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
}

/*Dedicated Classes*/
.nav-items {
    height: 5.75rem;
}
.logo {
    width: 13.5rem;
    height: 2rem;
}
.logo img {
    max-width: 100%;
}
.nav-links ul {
    list-style: none;
}
.nav-links ul li {
    display: inline-block;
}
.nav-links ul li a {
    text-decoration: none;
    margin-left: 2rem;
}
.collapse-btn {
    display: none;
}

.hero {
    margin-top: 6.25rem;
    text-align: center;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
.hero-content {

}
.images-group {
    margin: 0 auto;
    width: 350px;
    position: relative;
    top: -35px;
}
.hero-circle {
    position: relative;
}
.hero-microphone {
    position: absolute;
    left: 120px;
    top: 80px;
}
.badge {
    background-color: #00FF88;
    font-weight: 600;
    width: 4.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 1000px;
    position: absolute;
    left: 256px;
    top: 16px;
}
.badge p {
    margin: auto;
    padding: .6rem 1rem;

}